<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluate News Project</title>
</head>

<body>
    <div class="container">
        <div class="content">
            <header>
                <h1>Evaluate News Article with Natural Language Processing</h1>
            </header>

            <main>
                <section>
                    <form class="" onsubmit="return Client.handleSubmit(event)">
                        <input class="myinput" id="name" type="text" name="input" value="" placeholder="Name">
                        <input class="mybutton" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                            onsubmit="return Client.handleSubmit(event)">
                    </form>
                </section>

                <section>
                    <strong>Form Results:</strong>
                    <div id="results"></div>
                </section>
            </main>
        </div>
        <footer>
            <h3>Udacity Frontend Web Developer ND-Project 4</h3>
        </footer>
    </div>
</body>

</html>