<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluate News Project</title>
</head>

<body>
    <div class="container">
        <div class="content">
            <header>
                <h1>Evaluate News Article with Natural Language Processing</h1>
            </header>

            <main>
                <section class="input-info">
                    <form class="" onsubmit="return Client.handleSubmit(event)">
                        <input class="myinput" id="inputURL" type="text" name="input" value="" placeholder="Please enter a valid URL here">
                        <input class="mybutton" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    </form>
                </section>

                <section class="output-info">
                    <h2>Form Results:</h2>
                    <div class="display" id="results"></div>
                    <div class="subjectivity" id="subjectivity"></div>
                    <div class="score" id="scores"></div>
                    <div class="conf" id="confidence"></div>
                </section>
            </main>
        </div>
        <footer>
            <h3>Udacity FEND-Project 4</h3>
        </footer>
    </div>
</body>

</html>