body {
  display: flex;
  font-family: 'Poppins', sans-serif;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background: url('../images/duck.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  flex: 2;
}

section {
  max-width: 800px;
  margin: 50px auto;
}
